/* Reset margin dan font family */
body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Gaya font untuk elemen kode */
code {
  font-family: 'Courier New', Courier, monospace;
}
